.setup-password_container{
    width:400px;
    height:300px;
    margin:0 auto;
}

.setup-password_form{
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.setup-password_form-label{
    color: white;
    font-weight: 600;
}
h2{
    color: white;
    font-weight: 600;  
}