.dashboard {
    display: flex;
    background-color: #f4f4f9; /* Couleur de fond plus claire */
  }
  
  .content {
    margin-left: 13%;
    padding: 20px;
    height: 100vh;
    /* width: 90%; */
    overflow-x: auto;
    background-color: #ffffff; /* Couleur de fond blanche pour le contenu */
    color: #333; /* Texte plus sombre pour la lisibilité */
    border-left: 1px solid #ddd; /* Séparation entre la barre latérale et le contenu */
    font-size: 13px;
  }
  
  h2 {
    color: #333; /* Titre en couleur sombre */
  }
  
  @media (max-width: 768px) {
    .content {
      margin-left: 60px; /* Ajustement pour la barre latérale rétractée */
      width: calc(100% - 60px);
    }
  }
  