/* DataTable.css */

/* Largeur fixe pour l'action pour éviter les débordements */
.data-table th:last-child, .data-table td:last-child {
  width: 200px; /* Ajuster si nécessaire */
}

/* Ajustement de la largeur des autres colonnes */
.data-table th:first-child, .data-table td:first-child {
  width: 30%; /* Largeur de la première colonne (URL) */
}

.data-table th:nth-child(2), .data-table td:nth-child(2) {
  width: 30%; /* Largeur de la deuxième colonne (Description) */
}

.data-table th:nth-child(3), .data-table td:nth-child(3) {
  width: 15%; /* Largeur de la troisième colonne (Impact) */
}

.data-table th:nth-child(4), .data-table td:nth-child(4) {
  width: 15%; /* Largeur de la colonne Date */
}

.data-table td button {
  margin-left: 10px; /* Espace entre les boutons */
}

/* Gérer le débordement horizontal du tableau */
.data-table {
  width: 100%;
  overflow-x: auto; /* Ajout du défilement horizontal uniquement si nécessaire */
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word; /* Empêcher le débordement des longues URL ou descriptions */
  white-space: normal; /* Autoriser les retours à la ligne */
}

.data-table th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

.data-table tr:hover {
  background-color: #f5f5f5;
}
