#root{
  min-width: 100%;
}

.table-container {
    width: 100%;
    overflow-x: auto; /* Permet le défilement horizontal */
    margin-top: 20px;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse; /* Fusion des bordures pour un style propre */
    background-color: #fff;
    color: #333;
    /* border: 1px solid #000; */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid #000;
    position: relative; /* Nécessaire pour le resizer */
  }
  td{
    border: 1px solid #000;

  }
  
  th {
    cursor: pointer;
    background-color: #f0f0f5;
    border: 1px solid #000;
    user-select: none; /* Désactiver la sélection du texte lors du redimensionnement */
  }
  
  th .resizer {
    display: inline-block;
    width: 10px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    touch-action: none; /* Empêcher l'action par défaut sur les appareils tactiles */
  }
  
  th .resizer:hover,
  th .resizer:active {
    background-color: #ddd;
    cursor: col-resize; /* Pointeur de redimensionnement */
  }
  
  th.sorted-ascending:after {
    content: '\\2191'; /* Flèche vers le haut */
    margin-left: 8px;
  }
  
  th.sorted-descending:after {
    content: '\\2193'; /* Flèche vers le bas */
    margin-left: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #e2e6ea;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    color: #0056b3;
  }
  